a {
    color: #057286
}

a:hover {
    color: #04939a
}

.page-header {
    border-top: 3px solid #037a80
}

.page-header .header-info {
    color: #fe7200
}



.page-header .tel a {
    color: #fe7200
}

.page-header .link a {
    color: #057286
}

.page-header .link a:hover {
    color: #04939a
}

.page-header-top .link2 a {
    color: #057286
}



.gnav a:hover {
    color: #c0fcff
}



.heading-lv1 {
    background: #04939a
}

.heading-lv2 {
    border-bottom: 2px solid #15adb5
}

.heading-lv3 {
    border-left: 6px solid #15adb5
}

.tx-color1 {
    color: #ee4c3f
}

.tx-color1 a {
    color: #ee4c3f
}

.tx-color1 a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.tx-color2 {
    color: #275cac
}

.tx-color2 a {
    color: #275cac
}

.tx-color2 a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.tx-color3 {
    color: #5d9d2e
}

.tx-color3 a {
    color: #5d9d2e
}

.tx-color3 a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.element-table th {
    background: #eaf1e5
}

.element-table .tx-tel {
    color: #fe7200;
    font-weight: bold;
    font-size: 18px
}





.quote {
    padding: 24px 40px;
    background: #eaf1e5
}

.element-line {
    border-bottom: 1px dotted #15adb5
}

.element-login {
    background: #f3f7e6
}

.element-login dt {
    border-left: 6px solid #15adb5
}

.element-tximg6 {
    background: #eaf1e5
}

.element-tximg6.element-line {
    border-bottom: 1px dotted #15adb5
}

.element-comment {
    margin-top: 26px;
    position: relative;
    background: #fdf2d9;
    overflow: visible
}



.element-comment .element-heading {
    color: #15adb5;
    border-left: 6px solid #15adb5
}

.side-nav-heading {
    border-bottom: 3px solid #04939a
}



.side-others-heading {
    border-bottom: 2px solid #15adb5
}



.element-qa dt:hover {
    color: #04939a
}



.element-qa dd .element-a {
    background: #fdf2d9
}

.element-qa dd .element-a:before {
    color: #d96100
}

.element-firstletter {
    background: #fdf2d9
}

.element-box-bg {
    background-color: #eaf1e5
}



.form-table th {
    background: #eaf1e5
}

.form-table .form-must-bg {
    background: #fdf2d9
}

.element-error {
    background: #f3f7e6
}

.element-error-heading {
    border-left: 6px solid #15adb5
}

.heading-lv1-1column {
    background: #04939a
}

.heading-lv2-1column {
    border-left: 5px solid #04939a
}



.contents-main-1column .elemnet-kind-rent ul {
    border-top: 3px solid #04939a
}



.contents-main-1column .elemnet-kind-buy ul {
    border-top: 3px solid #04939a
}



.contents-main-1column .heading-recommend {
    border-left: 5px solid #04939a
}



.contents-main-1column .heading-area {
    background: #e5f3f4
}


.contents-main-1column .element-recommend {
    background: #e5f3f4
}

.contents-main-1column .element-recommend .btn-prev {
    background-color: #04939a;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0;
    border-radius: 0 5px 5px 0
}

.contents-main-1column .element-recommend .btn-next {
    background-color: #04939a;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px 0 0 5px
}

.contents-main-1column .recommend-item a {
    color: #04939a
}


.element-tab-search ul {
    border-bottom: 4px solid #04939a
}

.element-tab-search.bottom ul {
    border-top: 4px solid #04939a
}

.element-tab-search li.active {
    background: #04939a;
    border: 1px solid #04939a
}

.element-tab-search li a {
    color: #04939a
}

.btn-lv4 {
    color: #04939a
}

.contents-main-1column .form-privacy-heading-lv1 {
    border-bottom: 1px solid #04939a
}

.heading-article {
    background: #04939a
}

.sort-table {
    background: #f8f7ee
}

.sort-table th {
    background: #f8f7ee
}



.sort-table .cell3 .descend,.sort-table .cell3 .ascend {
    background-position: bottom center
}

.article-object {
    border-top: 4px solid #04939a
}

.articlelist-side-heading {
    background: #04939a
}

.articlelist-side-heading2 {
    border-left: 5px solid #04939a
}

.articlelist-side-section .link-more-term a {
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQyYWFhZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzA0OGU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42aaaf),color-stop(100%, #048e95));
    background: -moz-linear-gradient(top, #42aaaf,#048e95);
    background: -webkit-linear-gradient(top, #42aaaf,#048e95);
    background: linear-gradient(to bottom, #42aaaf,#048e95);
    border: 1px solid #399296;
    background-color: #048e95
}

.contents-article .type {
    color: #04939a
}

.contents-article .article-main-info .article-heading {
    background: #04939a
}

.contents-article .article-main-info .table-main-info th {
    background: #e5f3f4
}

.contents-article .item-detail-tab-contents .tab {
    border-bottom: 4px solid #04939a
}

.contents-article .item-detail-tab-contents .tab a {
    color: #04939a
}

.contents-article .item-detail-tab-contents .tab a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: .8
}

.contents-article .item-detail-tab-contents .tab .cu a {
    background: #04939a;
    border: 1px solid #04939a
}

.contents-article .item-detail-tab-contents .tab.bottom {
    border-top: 4px solid #04939a;
    border-bottom: none
}

.contents-article .photo-gallery .left .thumb-list .active:after {
    border: 2px solid #04939a
}


.contents-article .photo-gallery .left .pager-thumb .dots .cu a {
    background: #04939a
}

.contents-article .photo-gallery .right .btn-move a {
    background-color: #04939a
}

.contents-article .heading-article-lv2:before {
    background: #04939a
}

.contents-article .section-company .company-body {
    background: #f5f4eb
}

.article-side-heading {
    background: #04939a
}

.contents-article .article-info-attention .tooltip .tooltip-tx {
    color: #04939a
}

.checklist-tab a {
    border-bottom: 1px solid #04939a
}

.checklist-tab .active {
    color: #04939a
}

.contents-iframe .heading-area {
    background: #e5f3f4
}

.floatbox.gallery .btn-move a {
    background-color: #04939a
}

.floatbox.gallery .tx-heading {
    border-color: #04939a
}

.howto-see .company-name {
    border-bottom: 2px solid #04939a
}

.howto-see .heading-howto {
    background: #04939a
}

.howto-see .link-page a:after {
    border-top: 8px solid #04939a
}

.howto-see .heading-howto2 {
    border-left: 5px solid #04939a
}

.howto-see .heading-attention {
    color: #04939a
}

.howto-see .heading-attention:before {
    background: #04939a
}

.howto-see .heading-table {
    background: #e5f3f4
}

.page-special .element-recommend {
    background: #e5f3f4
}

.page-special .element-recommend .heading-recommend {
    border-left: 5px solid #04939a
}

.page-special .recommend-item a {
    color: #04939a
}



.contents-map {
    border-top: 1px solid #04939a
}

.map-option__all span {
    color: #057286
}



.map-option__all.open span {
    color: #057286
}



.map-option__list span {
    color: #057286
}



.map-bl-list__btn_explain {
    color: #057286
}



.bl-item__btn_street:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: .7
}

.map__pager span {
    background: #15adb5;
    border: 1px solid #04939a
}

.modal-streetview__error .btn-close a {
    background: #04939a
}



.element-auto-link.pick-up {
    border-left: solid 8px #15adb5
}



.element-auto-link.pick-up>p>span {
    color: #057286
}

.small-category {
    border: 1px solid #15adb5
}

.element-large-category h3,.small-category > span {
    border-left: solid 5px #15adb5
}



.element-auto-link.link-other-category>h3 span {
    background-color: #04939a!important
}



.element-text-small-article .element-article-title {
    border-bottom: 2px solid #15adb5
}
